#переменые окружения для подключения к pusher
#видны только на сервере
PUSHER_APP_ID = ""
PUSHER_SECRET = ""
#видны и на клиенте и на сервере
NEXT_PUBLIC_PUSHER_KEY = ""
NEXT_PUBLIC_PUSHER_CLUSTER = ""

#можно оставлять пустым
#адрес на хосте  https://ooo-olo.vercel.app/
NEXT_PUBLIC_SITE_URL=


# переменные среды для подключения и использования бд
# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=